.card 
{
    border-color: white;
    margin: 1%;
}
.center 
{
    text-align: center;
}

.flex 
{
    display: flex  !important;
    flex-direction: row  !important;
}
.card-image 
{
    max-width: 200px !important;
    max-height: 200px !important;
}
.zoom
{
    transition: transform .2s; /* Animation */
}
.zoom-text{
    visibility:hidden;
}
.zoom:hover
{
    transform: scale(2);
    position: relative;
    z-index: 1;
}
.zoom:hover .zoom-text
{
    visibility:visible;
}
.uitleg-hover:hover 
{
    visibility: hidden;
}