.card 
{
    border-color: white;
    margin: 1%;
}
.center 
{
    text-align: center;
}

.flex 
{
    display: flex;
    flex-direction: row;
}
.card-image 
{
    max-width: 200px;
    max-height: 200px;
}