.card 
{
    border-color: white;
    margin: 1%;
    transition: all .2s ease-in-out;
}
.center 
{
    text-align: center;
}

.flex 
{
    display: flex  !important;
    flex-direction: row  !important;
}
.card-image 
{
    max-width: 200px !important;
    max-height: 200px !important;
}
.card:hover 
{
    scale: (1.2);
}